<div class="row">        <!-- first two days -->
  <div class="col-md-12"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td class="col-md-2">Before starting</td>
        <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:30 am</td>          <!-- time    -->
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/01-introduction/index.html">
          Scientific reproducibility: What is it for?
        </a></td>  <!-- content -->
      </tr>
      <tr>
        <td>9:50 am</td>          <!-- time    -->
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/02-basic-rstudio/index.html">
          Navigating RStudio and Quarto Documents
        </a></td>  <!-- content -->
      </tr>
      <tr>
        <td>10:20 am</td>          <!-- time    -->
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/03-quarto-documents/index.html">
          Introduction to Working with Quarto documents
        </a></td>  <!-- content -->
      </tr>
      <tr>
        <td>10:45 am</td>          <!-- time    -->
        <td>Break</td>  <!-- content -->
      </tr>
      <tr>
        <td>10:55 am</td>          <!-- time    -->
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/04-good-project/index.html">
          Good Practices for Managing Projects in RStudio
        </a></td>  <!-- content -->
      </tr>
      <tr>
        <td>11:35 am</td>          <!-- time    -->
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/05-setup-versioning/index.html">
          Getting Your project set up with Version Control in RStudio
        </a></td>  <!-- content -->
      </tr>
      <tr>
        <td>12:15 pm</td>          <!-- time    -->
        <td>End of Day 1</td>  <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td class="col-md-2">9:30 am</td>        <!-- time    -->
        <td>Review</td>        <!-- content -->
      </tr>
      <tr>
        <td>9:45 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/06-writing-styling/index.html">
          Writing and Styling Qmd Documents
        </a></td> 
      </tr>
      <tr>
        <td>10:05 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/07-plots-figures/index.html">
          Adding Code-Generated Plots and Figures
        </a></td> 
      </tr>
      <tr>
        <td>11:15 am</td>
        <td>Break</td> 
      </tr>
      <tr>
        <td>11:25 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/08-code-chunks/index.html">
          Reproducible & Efficient Methods of Using Code Chunks (Part 1)
        </a></td> 
      </tr>
      <tr>
        <td>12:00 pm</td>
        <td>End of Day 2</td> 
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-12"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td class="col-md-2">9:30 am</td>
        <td>Review</td>
      </tr>
      <tr>
        <td>9:45 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/08-code-chunks/index.html">
          Reproducible & Efficient Methods of Using Code Chunks (Part 2)
        </a></td>
      </tr>
      <tr>
        <td>10:20 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/09-biblio-crossref/index.html">
          Bibliography, Citations & Cross-Referencing
        </a></td>
      </tr>
      <tr>
        <td>10:55 am</td>
        <td>Break</td>
      </tr>
      <tr>
        <td>11:05 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/10-github/index.html">
          Collaborating via Github
        </a></td>
      </tr>
      <tr>
        <td>11:30 am</td>
        <td><a href="https://ucsbcarpentry.github.io/Reproducible-Publications-with-RStudio-Quarto/11-publishing-your-project/index.html">
Publishing your project
        </a></td>
      </tr>
      <tr>
        <td>11:40 am</td>
        <td>End of Day 3</td>
      </tr>
      <tr>
        <td>After the Workshop</td>
        <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
