<div class="row">        <!-- first two days -->
  <div class="col-md-12"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td class="col-md-2">Before starting</td>
        <td><a href="{{ site.pre_survey }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>9:30 am</td>          <!-- time    -->
        <td><a href="https://carpentries-incubator.github.io/reproducible-publications-quarto/01-introduction.html">
          Scientific reproducibility: What is it for?
        </a></td>  <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td class="col-md-2">9:30 am</td>        <!-- time    -->
        <td>Review</td>        <!-- content -->
      </tr>
      <tr>
        <td>9:45 am</td>
        <td><a href="https://carpentries-incubator.github.io/reproducible-publications-quarto/06-writing-styling.html">
          Writing and Styling Qmd Documents
        </a></td> 
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-12"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>
        <td class="col-md-2">9:30 am</td>
        <td>Review</td>
      </tr>
      <tr>
        <td>9:45 am</td>
        <td><a href="https://carpentries-incubator.github.io/reproducible-publications-quarto/09-advanced-chunk.html">
          Reproducible & Efficient Methods of Using Code Chunks (Part 2)
        </a></td>
      </tr>
      <tr>
        <td>After the Workshop</td>
        <td><a href="{{ site.post_survey }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
